In [1]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [2]:
b.sort(key=len)

In [3]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [4]:
import bisect

In [5]:
c = [1, 2, 2, 2, 3, 4, 7]

In [6]:
bisect.bisect(c, 2)

4

In [7]:
bisect.bisect(c, 5)

6

In [8]:
bisect.insort(c, 6)

In [9]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [10]:
some_list = ['foo', 'bar', 'baz']

In [16]:
mapping = {}

In [17]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [18]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [19]:
seq1 = ['foo', 'bar', 'baz']

In [20]:
seq2 = ['one', 'two', 'three']

In [21]:
zipped = zip(seq1, seq2)

In [22]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [23]:
seq3 = [False, True]

In [24]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [25]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [26]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [27]:
first_name, last_name = zip(*pitchers)

In [28]:
first_name

('Nolan', 'Roger', 'Schilling')

In [29]:
last_name

('Ryan', 'Clemens', 'Curt')

In [30]:
mapping = dict(zip(range(5), reversed(range(5))))

In [31]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [32]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [35]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [36]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [37]:
from collections import defaultdict

In [38]:
by_letter = defaultdict(list)

In [39]:
for word in words:
    by_letter[word[0]].append(word)

In [40]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [41]:
hash('string')

-7207960358174157224

In [42]:
hash((1, 2, (2, 3)))

1097636502276347782

In [44]:
d = {}

In [45]:
d[tuple([1, 2, 3])] = 5

In [46]:
d

{(1, 2, 3): 5}

In [47]:
a = {1, 2, 3, 4, 5}

In [48]:
b = {3, 4, 5, 6, 7, 8}

In [49]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [50]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
a.intersection(b)

{3, 4, 5}

In [52]:
a & b

{3, 4, 5}

In [53]:
c = a.copy()

In [54]:
c |= b

In [55]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
d =a.copy()

In [59]:
d &= b

In [60]:
d

{3, 4, 5}

In [61]:
a_set = {1, 2, 3, 4, 5}

In [62]:
{1, 2, 3}.issubset(a_set)

True

In [63]:
a_set.issuperset({1, 2, 3})

True

In [65]:
{1, 2, 3} == {3, 2, 1}

True

In [66]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [67]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [71]:
unique_strings = {len(x) for x in strings}

In [72]:
unique_strings

{1, 2, 3, 4, 6}

In [73]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [74]:
loc_mapping = {val: index for index, val in enumerate(strings)}

In [75]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [76]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Matalia', 'Pilar']]

In [77]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [78]:
result

['Steven']

In [85]:
states = [' Alabama', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [86]:
import re

def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

In [87]:
clean_ops = [str.strip, remove_punctuation, str.title]

In [88]:
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [89]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [90]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [91]:
strings.sort(key=lambda x: len(set(list(x))))

In [92]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [93]:
def add_numbers(x, y):
    return x + y

In [94]:
from functools import partial

In [95]:
add_five = partial(add_numbers, 5)

In [96]:
add_five(1)

6

In [97]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [98]:
gen = squares()

In [99]:
gen

In [100]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [101]:
sum(x ** 2 for x in range(100))

328350

In [102]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [103]:
import itertools

In [104]:
first_letter = lambda x: x[0]

In [105]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [106]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']